body {
    overflow: hidden;
}
#center {
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
#text {
    height: 30rem;
    overflow: scroll;
    width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
    letter-spacing: 0.3rem; 
    line-height: 2rem;
}
/* 占位动画 */
#logo {
    background-color: #a8dee0;
    margin-bottom: 2rem;
    /* 动画 */
    animation-name: light;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes light{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.2;
    }
}