#bg {
    width: 100%;
    height: 100vh;
}
.content {
    height: 100vh;
    overflow: hidden;
}
#center {
    text-align: center;
}
#logo {
    position: relative;
    top: -56rem;
    margin-bottom: 2rem;
    /* 动画 */
    animation-name: light;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes light{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.2;
    }
}
#iptBox {
    position: relative;
    top: -70rem;
    margin: 0 1rem;
}
.group {
    display: block;
    margin: 0 2rem;
}
.ipt {
    background:rgba(255,255,255,0.2);
    /* 背景透明 */
    /* background-color:transparent; */
    font-size: 1.4rem;
    width: 18rem;
    height: 4.75rem;
    border: 0;
    margin: 1rem 0;
    border-bottom: black 0.1rem solid;
}
.btn {
    background-color: #3e4140;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    border: 0;
    margin: 2rem 0;
}
/* 弹出的model */
#submitModel ,#model {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(9, 9, 9, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.model-content {
    width: 90%;
    font-size: 1.6rem;
    text-align: center;
    background: #fff;
    border-radius: 1.5rem;
    margin: 20rem auto;
    padding: 2rem 1rem;
    line-height: 3rem;
    z-index: 1001;
}
