#bg {
    width: 100%;
    height: 100vh;
}
#center {
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
#hangB {
    top: 0;
    background-color: #fff;
}
#head {
    background-color: #fff;
}
#logo {
    width: 100%;
    display: inline-block;
    justify-content: flex-start;
    margin-top: 10rem;
}
.btn {
    background-color: #3e4140;
    color: #fff;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    width: 80%;
    height: 4.75rem;
    border: 0;
    margin: 1rem 0;
    position: relative;
    top: 8rem;
    z-index: 1;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 0.4rem;
    height: 0.3rem;
    border-radius: 50%;
}
.swiper-pagination-bullet-active {
    background-color: #3e4140 !important;
    width: .8rem !important;
}
#center .swiper-container {
    overflow: unset;
}
.swiper-slide img {
    width: 100%;
}